<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>TransplantToolbox</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    

<nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #046A38;">
        <div class="nav" >
            <a class="navbar-brand text-white h1" href="{% url 'home' %}" > TransplantToolbox  </a>
             <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"> <span class="navbar-toggler-icon"></span></button>
             <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav nav-fill nav-pills">
                    <li class="nav-item active">
                        <a class=" text-center nav-link text-white h5" href="{% url 'home' %}"> Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'allele' %}"> Single Allele</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'lists' %}"> Alleles List </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                    </li>
                            
              <li class="nav-item active">
                <a class="nav-link text-white h5" href="{% url 'tool_services' %}"> Web Services </a>
              </li>


              <li class="nav-item active">
                <a class="nav-link text-white h5" href="{% url 'license' %}"> License </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white h5" href="http://www.transplanttoolbox.org/victor"> VICTOR </a>
              </li>

                
        

                    </ul>
                </div>
        </div>
    </nav>


<body> 

    <h2 class="container text-danger text-center font-weight-bold mt-5 mb-5" > High Resolution Alleles List  </h2>
    
<div class="container"> 
    <p class="container jumbotron pt-4 pb-4 lead"> Enter a list of IPD-IMGT/HLA alleles in the text box and click on "Convert" to map the alleles to UNOS antigens and their Bw4 or Bw6 epitopes. Alleles entered should be resolved to specific HLA protein field (Two-field) or fully resolved (full IPD-IMGT/HLA allele name). Protein expression specifying characters ("L", "N", "S", "Q") can be used. Characters that specify antigen recognition domain equivalents (“G”, “P”, “g") can also be used. The list can be delimited by spaces, tabs, or commas. HLA loci supported are A, B, C, DRB1, DQA1, DQB1, DRB3/4/5.</p>
    <form class="mt-5 text-center" action="{% url 'convert_2' %}" >
            
        <textarea name = "userinput", rows = "5", cols = "50" >A*02:301N B*42:08 C*03:04:01:08 DQB1*03:241 DRB5*01:07</textarea> 
        <br />
        <input class="btn btn-success btn-lg active mt-3"  type="submit" value="Convert"/>
    </form>

</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>
 
