<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
 
<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #046A38;">
        <div class="container" >
            <a class="navbar-brand text-white" href="{% url 'home' %}"> TransplantToolbox  </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="nav nav-fill nav-pills">
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'allele' %}"> Single Allele</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'lists' %}"> Alleles List </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                        </li>
                            
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'tool_services' %}"> Web Services </a>
                        </li>


                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'license' %}"> License </a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>








<body> 
<h2 class="container text-danger text-center font-weight-bold mt-5 mb-5"> NMDP Multiple Allele codes  </h2>
    
<div> 
    <p class="container jumbotron pt-4 pb-4 lead"> Enter a list of NMDP Multiple Allele Codes (MAC) of IMGT/HLA alleles in the text box, select the subject's race/ethnic category, and click on "Convert" to map the alleles to their most probable UNOS antigens and their Bw4 or Bw6 epitopes. Alleles entered should be resolved to specific HLA protein field (2nd field) or fully resolved (full IMGT/HLA allele name). Protein expression specifying characters ("L", "N", "S", "Q") can be used. Characters that specify antigen recognition domain equivalents (“G”, “P”, “g") can also be used. The list of NMDP allele codes can be delimited by spaces, tabs, or commas.Population-specific HLA frequencies from NMDP are used to assign the most probable UNOS antigen equivalents given the ambiguous HLA typing. HLA loci supported are A, B, C, DRB1, DQB1, DRB3/4/5.</p>
    
    <form class="container text-center text-primary mt-5" action="{% url 'convert_4' %}" method="get">
            {% csrf_token %}
        <textarea name = "userinput1", rows = "5", cols = "80">A*01:AABJE A*02:HBMC B*08:NMTJ B*13:GR C*04:CYMD C*05:YDYE DRB1*04:AMR DRB1*07:GC DQB1*03:AG DQB1*03:AFYYJ</textarea> 

    <h4 class=" text-danger mt-5"> Select Broad/Detailed Race </h4>
    
    <div class="form-group"> 
    <div class="row"> 
        <div class="col-sm text-success"> <h3>  </h3> 
            <label class="text-danger text-uppercase font-weight-bold"> </label>
                    <select class="form-control" id="userinput2" name="userinput2">
                        <ul> <option disabled selected> -------Broad Races----------- </option> </ul>
                        <ul>   <option name="AFA" value="AFA"> African Americans (AFA) </option> </ul>
                        <ul>  <option name="userinput2" value="API"> Asia Pacific Islanders (API) </option> </ul>
                        <ul>  <option name="userinput2" value="CAU"> Caucasians (CAU) </option> </ul>
                        <ul>  <option name="userinput2" value="HIS"> Hispanics (HIS) </option> </ul>
                        <ul>  <option name="userinput2" value="NAM"> Native Americans (NAM) </option> </ul>
                        <ul> <option disabled> -------Detailed Races----------- </option> </ul>
                        <ul>  <option name="userinput2" value="AAFA"> African Americans (AAFA) </option> </ul>
                        <ul>  <option name="userinput2" value="AFB"> African Black (AFB) </option> </ul>
                        <ul>  <option name="userinput2" value="AINDI"> South Asian Indian (AINDI) </option> </ul>
                        <ul>  <option name="userinput2" value="AISC"> American India-South or Central American (AISC) </option> </ul>

                        <ul>  <option name="userinput2" value="ALANAM"> Alaska Native (ALANAM) </option> </ul>
                        <ul>  <option name="userinput2" value="AMIND"> North American Indian (AMIND) </option> </ul>
                        <ul>  <option name="userinput2" value="CARB"> Caribbean Black (CARB) </option> </ul>
                        <ul>  <option name="userinput2" value="CARHIS"> Caribbean Hispanic (CARHIS) </option> </ul>

                        <ul>  <option name="userinput2" value="CARIBI"> Caribbean Indian (CARIBI) </option> </ul>
                        <ul>  <option name="userinput2" value="EURCAU"> European Caucasian (EURCAU) </option> </ul>
                        <ul>  <option name="userinput2" value="FILII"> Filipino (FILII) </option> </ul>
                        <ul>  <option name="userinput2" value="HAWI"> Hawaiian or Pacific Islander (HAWI)</option> </ul>

                        <ul>  <option name="userinput2" value="JAPI"> Japanese (JAPI) </option> </ul>
                        <ul>  <option name="userinput2" value="KORI"> Korean (KORI) </option> </ul>
                        <ul>  <option name="userinput2" value="MENAFC"> Middle Eastern or N. Coast of Africa (MENAFC) </option> </ul>
                        <ul>  <option name="userinput2" value="MSWHIS"> Mexican or Chicano (MSWHIS) </option> </ul>

                        <ul>  <option name="userinput2" value="NCHI"> Chinese (NCHI) </option> </ul>
                        <ul>  <option name="userinput2" value="SCAHIS"> South or Central American Hispanic (SCAHIS) </option> </ul>
                        <ul>  <option name="userinput2" value="SCAMB"> South or Central American (SCAMB) </option> </ul>
                        <ul>  <option name="userinput2" value="SCSEAI"> South East Asian (SCSEAI) </option> </ul>
                        <ul>  <option name="userinput2" value="VIET"> Vietnamese (VIET) </option> </ul>





                </select>
         </div> 
     </div>            
  <input class="btn btn-success btn-lg active mt-5" type="submit" value="Convert"/>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"  crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

</body>
</html>

