<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #046A38;">
        <div class="nav" >
            <a class="navbar-brand text-white h1" href="{% url 'home' %}" > TransplantToolbox  </a>
             <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"> <span class="navbar-toggler-icon"></span></button>
             <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav nav-fill nav-pills">
                    <li class="nav-item active">
                        <a class=" text-center nav-link text-white h5" href="{% url 'home' %}"> Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'allele' %}"> Single Allele</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'lists' %}"> Alleles List </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                    </li>
                            
              <li class="nav-item active">
                <a class="nav-link text-white h5" href="{% url 'tool_services' %}"> Web Services </a>
              </li>


              <li class="nav-item active">
                <a class="nav-link text-white h5" href="{% url 'license' %}"> License </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link text-white h5" href="http://www.transplanttoolbox.org/victor"> VICTOR </a>
              </li>

                
        

                    </ul>
                </div>
        </div>
    </nav>





<body>
    <h2 class="container text-danger font-weight-bold text-center  mt-5 mb-5"> Antigen mapping for list of IMGT/HLA alleles</h2>
    
    <div class="container mt-5 mb-5">
        
    <table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-center"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col"> Allele</th>
                    <th scope="col"> Antigen </th>
                    <th scope="col"> Bw4/6 </th>
                </tr>
            </thead>
            <tbody>
            {% for allele, antigen, bw46 in zipped_list %}
				<tr class="bg-light">
					<td>{{allele}}</td>
					<td>{{antigen}}</td>
					<td>{{bw46}}</td>
				</tr>
			{% endfor %}
            </tbody>
        </table>    

    </div>  
      


<br>
<br>


<div class="container mt-5 text-center text-danger">
    
    <!--<div class="container text-center input-group"> -->
        
        <div class="text-center input-group"> 
            <input type="text"  style="width: 400px;" class="form-control" value= "{{ags_returned}}" id="myInput">

            <!-- The button used to copy the text -->
            <button type="button" class="btn btn-success btn-group-lg active mt-3" onclick="myFunction()">Copy Antigens</button>
            
            
        </div> 
    </div> 
</div>   

</body>   


<script type="text/javascript"> 
                function myFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("Copy");

                /* Alert the copied text */
                alert("Copied the antigens mapped:     " + copyText.value);


                }

            </script>