<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>conversion tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #046A38;">
        <div class="container" >
            <a class="navbar-brand text-white" > TransplantToolbox  </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="nav nav-fill nav-pills">
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'allele' %}"> Single Allele</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'lists' %}"> Alleles List </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                        </li>
                            
                <li class="nav-item active">
                  <a class="nav-link text-white" href="{% url 'tool_services' %}"> Web Services </a>
                </li>


                <li class="nav-item active">
                  <a class="nav-link text-white" href="{% url 'license' %}"> License </a>
                </li>
                    </ul>
                </div>
        </div>
    </nav>




<body>
    <h2 class="container mt-5 mb-5"> Antigen Mapping </h2>
    <div class="container">
        <h3> Allele codes </h3>
            {{uinput_1}}
            <br />
            <br />

        <h3> Population </h3>
            {{uinput_2}}
            <br />
            <br />
        <h3> UNOS Antigens List </h3>    
            {{ag_display}}
            <br />
            <br />
        <h3> Bw4/6 </h3> 
            {{bw4_6}}
            <br />
            <br />
     
        <h3> Antigen Probabilities </h3> 
            {{ag_probs}}
            <br />
            <br />

    </div>

     

</body>   


