<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>conversion tool</title>
    <link rel="stylesheet" href="{% static "css/home.css" %}"/>
</head>
<body>
    <h2> Antigen Mapping </h2>
    <h3> Allele codes </h3>
        {{uinput_1}}
        <br />
        <br />

    <h3> Population </h3>
        {{uinput_2}}
        <br />
        <br />
    
    
    
    <h3> UNOS Antigens List </h3>    
        {{ag_display}}

        <br />
        <br />
    <h3> Bw4/6 </h3> 
        {{bw4_6}}
        <br />
        <br />
     
    <h3> Antigen Probabilities </h3> 
        {{ag_probs}}
        <br />
        <br />



     <a href="{% url 'home' %}" > Home </a> 

</body>   


