<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #046A38;">
        <div class="nav" >
            <a class="navbar-brand text-white h1" href="{% url 'home' %}" > TransplantToolbox  </a>
             <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"> <span class="navbar-toggler-icon"></span></button>
             <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav nav-fill nav-pills">
                    <li class="nav-item active">
                        <a class=" text-center nav-link text-white h5" href="{% url 'home' %}"> Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'allele' %}"> Single Allele</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'lists' %}"> Alleles List </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                    </li>
                            
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'tool_services' %}"> Web Services </a>
                    </li>


                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href="{% url 'license' %}"> License </a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link text-white h5" href="http://www.transplanttoolbox.org/victor"> VICTOR </a>
                    </li>

                
        

                    </ul>
                </div>
        </div>
    </nav>





<body>
    <h2 class="container text-danger text-center  font-weight-bold mt-5 mb-5"> Antigen Mapping for NMDP Multiple Allele Codes</h2>
    <div class="container mt-5">
        <h3 class="text-secondary active text-center font-weight-bold mt-5 mb-5"> Population Selected: {{pop_entry}}</h3>
        <table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-left"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col"> Locus </th>
                    <th scope="col"> Allele Codes </th>
                    <th scope="col"> Antigens </th>
                    <th scope="col"> Bw4/6 </th>
                    <th scope="col"> Antigen Probabilities </th>

                </tr>
            </thead>
           <tbody>
            {% for loci, allele_codes, antigens, bw46, agprobs in al_code_zipped_list %}
                <tr class="bg-light">
                    <td>{{loci}}</td>
                    <td>{{allele_codes}}</td>
                    <td>{{antigens}}</td>
                    <td>{{bw46}}</td>
                    <td> {% for pps in agprobs%}  <li> {{pps}} {% endfor %}  </li>  </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    



   


<br>
<br>  

<div class="container mt-5 text-center text-danger">
    
    <!--<div class="container text-center input-group"> -->
        
        <div class="text-center input-group"> 
            <input type="text"  style="width: 400px;" class="form-control" value= "{{ags_returned}}" id="myInput">

            <!-- The button used to copy the text -->
            <button type="button" class="btn btn-success btn-group-lg active mt-3" onclick="myFunction()">Copy Antigens</button>
            
            
        </div> 
    </div> 
</div>   


    
        
       
<script type="text/javascript"> 
                function myFunction() {
                /* Get the text field */
                var copyText = document.getElementById("myInput");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("Copy");

                /* Alert the copied text */
                alert("Copied the antigens mapped:     " + copyText.value);


                }

</script>
   
<br>

<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #046A38;"> 
<h3 class="container text-center font-italic" > Contact Us </h3>
    <p class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </p>
     <br>
<h4 class="container text-center font-italic"> Cite ALLAN Tool</h4>
    <p class= "container text-center font-italic"> Manuscript in preparation</p>
</div>
     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>