<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>conversion tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #046A38;">
        <div class="container" >
            <a class="navbar-brand text-white" > TransplantToolbox  </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="nav nav-fill nav-pills">
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'allele' %}"> Single Allele</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'lists' %}"> Alleles List </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                        </li>
                            
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'tool_services' %}"> Web Services </a>
                        </li>


                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'license' %}"> License </a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>




<body>
    <h2 class="container text-danger text-center table-stripped mt-5 mb-5"> Antigen mapping for list of IMGT/HLA alleles</h2>
    
    <div class="container mt-5">
        
    <table class=" container table table-bordered table-hover thead-dark text-xl-center"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col"> Allele</th>
                    <th scope="col"> Antigen </th>
                    <th scope="col"> Bw4/6 </th>
                </tr>
            </thead>
            <tbody>
            <tr class="bg-light">
                <td> {{uinput}} </td>
                <td> {{conversion}} </td>
                <td> {{bw4_6}} </td>
            </tr>
            </tbody>
        </table>    

    </div>  
      
      <script language="javascript" type="text/javascript">
          var allele_list = ("{{uinput}}");
          var al_list = allele_list.replace(/[&#39;]/g, "");
          var final_al_list = al_list.replace(/[\[\]']+/g,'')
          var array = final_al_list.split(",")
           

            var antigen_list = ("{{conversion}}"); 
            var ag_list = antigen_list.replace(/[&#39;]/g, "");
            var final_ag_list = ag_list.replace(/[\[\]']+/g,'')
            var ag_array = final_ag_list.split(",")
            

            var bws_list = ("{{bw4_6}}"); 
            var bws_list = bws_list.replace(/[&#39;]/g, "");
            var final_bws_list = bws_list.replace(/[\[\]']+/g,'')
            var bws_array = final_bws_list.split(",")
            

        for (allele of array){console.log(allele)};
            for (ag of ag_array){console.log(ag)};
                for (bwe of bws_array){console.log(bwe)};

      </script>

</body>   