<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TransplantToolbox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #046A38;">
        <div class="container" >
            <a class="navbar-brand text-white" href="{% url 'home' %}" > TransplantToolbox  </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="nav nav-fill nav-pills">
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'allele' %}"> Single Allele</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'lists' %}"> Alleles List </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype List Strings</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'codes' %}"> Multiple Allele Codes </a>
                        </li>
                            
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'tool_services' %}"> Web Services </a>
                        </li>


                        <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'license' %}"> License </a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>




<body>
    
    <div class="container mt-5">
        
        <h2 class="text-danger text-center font-weight-bold mt-5 mb-5"> IMGT/HLA alleles mapped to {{uinput}} UNOS antigen</h2>
            

            <table class="container table w-50 table-responsive-sm table-bordered table-hover table-striped  text-xl-center"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col">  </th>
                    
                    

                </tr>
            <tbody>
            {% for locus in conversion %}
                <tr class="w-50 bg-light">
                    <td>{{locus}}</td>

                    
                </tr>
            {% endfor %}
            </tbody>
        </table>    

    </div>  
    </body>   


</div>
</body>




        <!--<table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-center"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col"> Antigen </th>
                    <th scope="col"> Alleles mapped </th>
                    

                </tr>
            </thead>
           <tbody>
            
                <tr class="bg-light">
                    <td>{{uinput}}</td>
                    <td>{{output}}</td>
                    
                </tr>
            
            </tbody>
        </table>    



   


<br>
<br>  


