<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>conversion tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

    <nav class="navbar sticky-top navbar-expand-sm" style="background-color: #006600;">
        <div class="container" >
            <a class="navbar-brand text-white" > ALLAN  </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="nav nav-fill nav-pills">
                        <li class="nav-item active">
                             <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'allele' %}"> Alleles</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'lists' %}"> Allele List </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype list strings</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'codes' %}"> Multiple allele codes </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-white fixed-right" href="https://hla.tulane.edu/"> About us!</a>
                        </li> 
                    </ul>
                </div>
        </div>
</nav>




    <h2 class="container mt-5 mb-5"> Genotype List String </h2>
    
<div> </div>
    <p class="container jumbotron"> Enter 3, 4, 5, 6 loci derived genotype list string in the prescribed format in the text box below, select the population/race and click on "Convert" to map the alleles  to UNOS antigen and designated Bw4 or Bw6 epitopes. Alleles included in the string should be either medium resolved to specific HLA protein field or fully resolved. Protein expression specifying characters L, N, S, Q can be used but not the  suffixes for G or P groups</p>
    
    <form class= container action="{% url 'convert_3' %}" method="get">
       <textarea name = "userinput1" rows = "5" cols = "80" >A*02:01g+A*26:01g|A*02:55+A*26:07^C*05:01g+C*01:02g^B*15:01/B*15:02/B*15:03/B*15:04+B*27:05g^DRB1*12:01g+DRB1*01:01^DQB1*03:01g+DQB1*05:01</textarea> 
        <br />
       
    <h4> Select Broad/Detailed Race </h4>
    
    <label for="AAFA">AAFA </label>
    <input id="AAFA"type="radio" name="userinput2" value="AAFA">
    
    <label for="AFA">AFA </label>
    <input id="AFA"type="radio" name="userinput2" value="AFA">
    
    <label for="CAU">CAU </label>
    <input id="CAU" type="radio" name="userinput2" value="CAU">
    
    <label for="HIS">HIS </label>
    <input id="HIS" type="radio" name="userinput2" value="HIS">
    
    <label for="NAM">NAM </label>
    <input id="NAM" type="radio" name="userinput2" value="NAM">
    
    <label for="AFB">AFB </label>
    <input id="AFB"type="radio" name="userinput2" value="AFB">

    <label for="AINDI">AINDI </label>
    <input id="AINDI " type="radio" name="userinput2" value="AINDI">

    <label for="AISC">AISC </label>
    <input id="AISC" type="radio" name="userinput2" value="AISC">

    <label for="ALANAM">ALANAM </label>
    <input id="ALANAM" type="radio" name="userinput2" value="ALANAM">

    <label for="AMIND">AMIND </label>
    <input id="AMIND"type="radio" name="userinput2" value="AMIND">

    <label for="API"> API </label>
    <input id="API"type="radio" name="userinput2" value="API">

    <label for="CARB">CARB </label>
    <input id="CARB"type="radio" name="userinput2" value="CARB">

    <label for="CARHIS">CARHIS </label>
    <input id="CARHIS" type="radio" name="userinput2" value="CARHIS">

    <label for="CARIBI"> CARIBI</label>
    <input id="CARIBI" type="radio" name="userinput2" value="CARIBI">

     <label for="EURCAU"> EURCAU</label>
    <input id="EURCAU" type="radio" name="userinput2" value="EURCAU">

    <label for="FILII">FILII </label>
    <input id="FILII" type="radio" name="userinput2" value="FILII">

    <label for="HAWI">HAWI </label>
    <input id="HAWI"type="radio" name="userinput2" value="HAWI">

    <label for="JAPI">JAPI </label>
    <input id="JAPI"type="radio" name="userinput2" value="JAPI">

    <label for="KORI">KORI </label>
    <input id="KORI" type="radio" name="userinput2" value="CAU">

    <label for="MENAFC">MENAFC </label>
    <input id="MENAFC" type="radio" name="userinput2" value="MENAFC">

    <label for="MSWHIS">MSWHIS </label>
    <input id="MSWHIS" type="radio" name="userinput2" value="MSWHIS">

    <label for="NCHI">NCHI </label>
    <input id="NCHI"type="radio" name="userinput2" value="NCHI">

    <label for="SCAHIS">SCAHIS </label>
    <input id="SCAHIS" type="radio" name="userinput2" value="SCAHIS">

    <label for="SCAMB">SCAMB </label>
    <input id="SCAMB" type="radio" name="userinput2" value="SCAMB">

    <label for="SCSEAI">SCSEAI </label>
    <input id="SCSEAI"type="radio" name="userinput2" value="SCSEAI">

    <label for="VIET">VIET </label>
    <input id="VIET"type="radio" name="userinput2" value="VIET">

    <br />
    <br />

    <input id = "sub" type="submit" value="Convert!"/>
    </form>

</body>

 
