<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    <title>conversion tool</title>
    <link rel="stylesheet" href="{% static "css/home.css" %}"/>
    
    <img id="tulane_logo" src="{% static "images/TulaneMed_Photo.jpg" %}">
    <img id="nmdp_logo" src="{% static "images/nmdp_logo.png" %}">
    <img id="unos_logo" src="{% static "images/UNOS.png" %}">
    <p id="blank"></p>
</head>
<body>
    <h2> HAAMU: HLA allele to antigen mapping for UNOS </h2> 
   <!-- <h3> Mapping HLA typing to UNOS antigen nomenclature </h3> -->
    <h3>Overview</h3>
    <p id="overview" >  HAAMU web tool facilitates the mapping of molecular HLA nomenclature to serological nomenclature required for entering 
        transplant receipients' unacceptable antigens into UNet system. The tool obliges the guidelines laid by Organ procurement and transplant network for antigen mapping. The tool supports antigen mapping for alleles from six loci i.e. 
    A, C, B, DRB1, DQB1, DR345.  </p>

    <h3> Formats </h3>
      <form action="{% url 'allele' %}" >
          {% csrf_token %}
            
      <input id="sub" type="submit" value="Allele"> 
      </form>
        

      <form  action="{% url 'lists' %}">
            {% csrf_token %}
            
      <input id="sub" type="submit" value="Alleles List">   
      </form>
  
         
      <form  action="{% url 'gl_string' %}">
            {% csrf_token %}
            
      <input id="sub" type="submit" value="Genotype List Strings">

      </form>
     
      <form  action="{% url 'codes' %}">
            {% csrf_token %}
            
      <input id="sub" type="submit" value="Multiple Allele Codes">

      </form>
     
            <br />
    <!-- <h3>Users Guide</h3>  
    <a href="{% static "images/HAAMU_user_guide.pdf" %}" > Download User's guide</a>
    <br /> -->
  
    <h3> Important links </h3>
    <a href="{% static "images/HAAMU_user_guide.pdf" %}" > Download User's guide</a>
    <br /> 
    <a href="{% static "images/UNOS_conversion_table.csv" %}" > Download mapping of IMGT/HLA alleles to UNOS antigens</a>
    <br /> 
    <a href="http://www.hla.alleles.org">IMGT/HLA alleles </a>  
    <br />     
     <a href="https://hml.nmdp.org/MacUI/">NMDP MAC Service </a>
     <br />
     <a href="{% url 'license' %}"> License </a>
      
     <br />
     
     <br />
     <h3> Acknowledgements </h3>
     <p> We thank NMDP Bioinformatics @Be the match, IMGT and UNOS for the resources used in this web tool!
            <br />
     Robinson J, Halliwell JA, Hayhurst JH, Flicek P, Parham P, Marsh SGE
            The IPD and IPD-IMGT/HLA Database: allele variant databases
            Nucleic Acids Research (2015) 43:D423-431
            <br />
            Robinson J, Malik A, Parham P, Bodmer JG, Marsh SGE:
            IMGT/HLA - a sequence database for the human major histocompatibility complex
            Tissue Antigens (2000), 55:280-287
              </p>

     <h3> Getting Help </h3>
     <p> For scientific and technical queries contact help_conversion_tool@tulane.edu </p>
     <h4> Cite Us! </h4>

     
</body>    