<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    
    <title>conversion tool</title>
    <!-- <link rel="stylesheet" href="{% static "css/home.css" %}"/>  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    
	<nav class="navbar sticky-top navbar-expand-sm" style="background-color: #006600;">
		<div class="container" >
  			<a class="navbar-brand text-white" > ALLAN  </a>
  			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
  				<div class="collapse navbar-collapse" id="navbarNav">
   					 <ul class="nav nav-fill nav-pills">
      					<li class="nav-item active">
       						 <a class="nav-link text-white" href="{% url 'home' %}"> Home </a>
      					</li>
      					<li class="nav-item active">
        					<a class="nav-link text-white" href="{% url 'allele' %}"> Alleles</a>
      					</li>
      					<li class="nav-item active">
        					<a class="nav-link text-white" href="{% url 'lists' %}"> Allele List </a>
      					</li>
      					<li class="nav-item active">
        					<a class="nav-link text-white" href="{% url 'gl_string' %}"> Genotype list strings</a>
      					</li>

      					<li class="nav-item active">
        					<a class="nav-link text-white" href="{% url 'codes' %}"> Multiple allele codes </a>
      					</li>
						<li class="nav-item active">
        					<a class="nav-link text-white fixed-right" href="https://hla.tulane.edu/"> About us!</a>
      					</li> 
    				</ul>
    			</div>
  		</div>
	</nav>



<!--<div class="Wrapper">
    <a href="http://medicine.tulane.edu/" >
    <img id="tulane_logo" src="{% static "images/TulaneMed_Photo.jpg" %}", width="200", height="120" > </a>
    
    <a href="https://bethematch.org/"> 
    <img id="nmdp_logo" src="{% static "images/Be-the-Match-R_CMYK.png" %}", width="400", height="100"> </a>
    
    <a href="https://unos.org/" > 
    <img id="unos_logo" src="{% static "images/unos-logo.png" %}", width="120", height="120"> </a> 

    </div>-->


<body>
    <h2 class="container mt-5 mb-5">  ALLAN: IMGT/HLA ALLele to UNOS ANtigen conversion tool </h2> 
   	<h3 class="container">About</h3>
    <div class="container jumbotron">

    	<p class="lead" >  This web tool facilitates the mapping of molecular HLA nomenclature to UNOS serological equivalents required for entering 
        donor's HLA type into UNet system. The tool obliges the guidelines laid by Organ Procurement and Transplant Network for antigen mapping. The tool supports antigen mapping for alleles from seven loci i.e. 
        (A, B, C, DRB1, DQA1, DQB1, DRB3/4/5) for unambiguous HLA typing (allele, allele list) and six loci (A, B, C, DRB1, DQB1, DRB3/4/5) for ambiguous HLA typing (genotype list strings and multiple allele codes).  </p>
    </div>

    <h3 class="container"> Mapping HLA typing data</h3>
    	<div class="container" >
    		<a  class="btn btn-primary active btn-lg" href="{% url 'allele' %}" role="button" >Allele</a>
      		<a  class="btn btn-primary active btn-lg" href="{% url 'lists' %}" role="button" >Allele List</a>
           	<a  class="btn btn-primary active btn-lg" href="{% url 'gl_string' %}" role="button" >Genotype list strings</a>
     		<a  class="btn btn-primary active btn-lg" href="{% url 'codes' %}" role="button" > Multiple Allele Codes</a>
     
        </div>
            
  
    <h3 class="container mt-5"> Downloads and Links  </h3>
    	<div class="container" >
    		<a class="btn btn-dark active btn-md" href="{% static "images/HAAMU_user_guide.pdf" %}" > Download User's guide</a>
	   		<a class="btn btn-dark active btn-md" href="{% static "images/UNOS_conversion_table.csv" %}" > Download latest version of conversion table</a>
  			<a class="btn btn-dark active btn-md" href="http://www.hla.alleles.org">IMGT/HLA alleles </a>  
        	<a class="btn btn-dark active btn-md" href="https://hml.nmdp.org/MacUI/">NMDP MAC Service </a>
    		<a class="btn btn-dark active btn-md" href="{% url 'license' %}"> License </a>
      	</div>
     
     
    
     <h3 class="container mt-5"> Acknowledgements  </h3>
     <p class="container"> We thank NMDP Bioinformatics @Be the match, IMGT/HLA and UNOS for the resources used in this web tool! </p>
            
     

     <h3 class="container" mt-5> Getting Help </h3>
     <p class="container"> For scientific and technical queries contact help_conversion_tool@tulane.edu </p>
     <h4 class="container"> Cite Us! </h4>
     <p class= "container"> Kaur N, Kransdorf EP, Pando MJ, Maiers M, Gragert L. Mapping molecular HLA typing data to UNOS antigen equivalents. XXXX 2018 </p>

     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>