h2{
    color: #990000;
}

h3{
  color: black;
}
#tulane_logo{
	height: 120px;
	width: 200px;

}

#nmdp_logo{
	height: 100px;
	width: 316px;
}

#unos_logo{
	height: 120px;
	width: 120px;
}

#blank {
  border: 4px solid #08acb2
}


body{
  background-color: white;
  font-size: 18px;
  font-family: Times;
  text-align: center;
  margin: centre;
  
  border-top:  0px;
  margin: 0px;
}


#sub{
  background-color: #32CD32;
  height: 40px;
  width: 200px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1em;
  border-radius: 25px;
}

#overview{
	 border: 2px solid black;
   padding: 10px;
	 margin-right: 300px;
	 margin-left: 300px;
}

#convert-button{
	background-color: #32CD32;
  	height: 40px;
  	width: 200px;
  	margin: 4px;
  	margin-top: 12px;
  	font-size: 1em;
  	border-radius: 25px;

}

#allele_para{
	display: block;
	font-size: 20px;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px solid black;
}

table{

  margin: 0 auto;
  border: solid 2px;
}

table thead th{ border-bottom: 1px solid #000;}

#link{
  color: darkblue;
  height: 40px;
  width: 200px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1em;
  border-radius: 25px;
  text-decoration: none;
  
}

form{
  display: inline;
}

a{
  display: inline;
}


#home_button{
    background-color: lightgray;
    color: black;
  	height: 80px;
  	width: 200px;
  	margin: 4px;
  	margin-top: 12px;
  	font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
}

