h3{
    color: #B11D00;
}

body{
    background-color: #fdf6ee;
    font-size: 18px;
    font-family: Times;
    text-align: left;
    margin: left;
    
    border-top:  0px;
    margin: 50px;
  }



#home_button{
    background-color: lightgray;
    color: black;
  	height: 40px;
  	width: 200px;
  	margin: 4px;
  	margin-top: 12px;
  	font-size: 1em;
    
    text-decoration: none;
}