
h2{
  color: red;
}

h2 {
  color: green;
}

body{
  background-color: #edf2f9;
  font-size: 14px;
  font-family: Times;
  text-align: center;
  margin: centre;
  border: 40px solid #2EC486;
  border-top:  0px;
  margin: 0px;
}

#blank {
  border: 8px solid #08acb2
}

form {
  margin-bottom: 20px;
}

#sub{
  background-color: #FF9F1C;
  height:80px;
  width: 150px;
  margin: 4px;
  margin-top: 12px;
  font-size: 1.5em;
  border-radius: 25px;
}

#photo{
  height: 80px;
  width: 100px;
}
